{% extends './layout.html' %}
{% set nameCss= "article" %}
{% block content %}
<main>
		<div class="mtp">

			<div class="wrapper">
				<div class="mtp__row-img">
					<picture>

						<source srcset="images/mtp-img.webp"
								type="image/webp">
						<img src="images/mtp-img.jpg"
							 alt="fsdlkfhksdhfksdffskdhfjsdhfkjsdhfkshdkf fsdfsdfsd"
							 title="fsdlkfhksdhfksdffskdhfjsdhfkjsdhfkshdkf fsdfsdfsd">
					</picture>

				</div>
				<p>Lorem Ipsum&nbsp;- это текст-&quot;рыба&quot;, часто используемый в печати и вэб-дизайне.
					Lorem Ipsum является стандартной &quot;рыбой&quot; для текстов на латинице с начала XVI
					века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов,
					используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без
					заметных изменений пять веков, но и перешагнул в электронный дизайн. Его популяризации в
					новое время послужили публикация листов Letraset с образцами Lorem Ipsum в 60-х годах и, в
					более недавнее время, программы электронной вёрстки типа Aldus PageMaker, в шаблонах которых
					используется Lorem Ipsum.</p>

				<p>Почему он используется?</p>

				<p>Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться.
					Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение
					шаблона, а также реальное распределение букв и пробелов в абзацах, которое не получается при
					простой дубликации &quot;Здесь ваш текст.. Здесь ваш текст.. Здесь ваш текст..&quot; Многие
					программы электронной вёрстки и редакторы HTML используют Lorem Ipsum в качестве текста по
					умолчанию, так что поиск по ключевым словам &quot;lorem ipsum&quot; сразу показывает, как
					много веб-страниц всё ещё дожидаются своего настоящего рождения. За прошедшие годы текст
					Lorem Ipsum получил много версий. Некоторые версии появились по ошибке, некоторые -
					намеренно (например, юмористические варианты).</p>


				<div class="mtp__slider js-mtp-slider">

					<div class="mtp__slider-header">
						<h2>gjhgjhgjgjhgj</h2>
					</div>

					<div class="mtp__slider-main">
						<div class="mtp__slider-container js-mtp-main-slider">
							<div class="mtp__slider-wrapper">


								<div class="mtp__slider-slide"
									 data-mfp-src="images/mtp-img.jpg">
									<picture>
										<source srcset="images/mtp-img.webp"
												type="image/webp">
										<img src="images/mtp-img.jpg"
											 alt="nmgjhgjhgjhgjhgjdfg" title="jggjhgjgjgjgjgdfgdfgdfg">
									</picture>

									<div class="mtp__slider-description ">
										<h3 class="title">jggjhgjgjgjgjgdfgdfgdfg</h3>
										<div class="text">
											nmgjhgjhgjhgjhgjdfg
										</div>
									</div>
								</div>

								<div class="mtp__slider-slide"
									 data-mfp-src="images/mtp-img.jpg">
									<picture>
										<source srcset="images/mtp-img.webp"
												type="image/webp">
										<img src="images/mtp-img.jpg"
											 alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit">
									</picture>
								</div>


								<div class="mtp__slider-slide"
									 data-mfp-src="images/mtp-img.jpg">
									<picture>
										<source srcset="/images/mtp-img.webp"
												type="image/webp">
										<img src="images/mtp-img.jpg"
											 alt="qweqweqwe" title="qweqwe">
									</picture>
									<div class="mtp__slider-description ">
										<h3 class="title">qweqwe</h3>
										<div class="text">
											qweqweqwe
										</div>
									</div>
								</div>
								<div class="mtp__slider-slide"
									 data-mfp-src="images/mtp-img.jpg">
									<picture>
										<source srcset="images/mtp-img.webp"
												type="image/webp">
										<img src="images/mtp-img.jpg"
											 alt="qeqweq" title="awe">
									</picture>
									<div class="mtp__slider-description ">
										<h3 class="title">awe</h3>
										<div class="text">
											qeqweq
										</div>
									</div>
								</div>
								<div class="mtp__slider-slide mtp__slider-slide--video"
									 data-mfp-src="https://www.youtube.com/embed/z-wLp8ccM1g">
									<picture>
										<source srcset="images/mtp-img.webp"
												type="image/webp">
										<img src="images/mtp-img.jpg"
											 alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit,">
									</picture>
								</div>
							</div>
							<div class="mtp__slider-button mtp__slider-button--prev js-mtp-slider-button-prev">
								<svg width="12" height="22" viewBox="0 0 12 22" fill="none"
									 xmlns="http://www.w3.org/2000/svg">
									<path d="M1 0.999512L11 10.9995L1 20.9995" stroke="white"
										  stroke-linecap="round"/>
								</svg>
							</div>
							<div class="mtp__slider-button mtp__slider-button--next js-mtp-slider-button-next">
								<svg width="12" height="22" viewBox="0 0 12 22" fill="none"
									 xmlns="http://www.w3.org/2000/svg">
									<path d="M1 0.999512L11 10.9995L1 20.9995" stroke="white"
										  stroke-linecap="round"/>
								</svg>
							</div>
							<div class="mtp__slider-pagination js-mtp-slider-pagination"></div>
						</div>
					</div>
					<div class="mtp__slider-nav">
						<div class="mtp__slider-container js-mtp-nav-slider">
							<div class="mtp__slider-wrapper">
								<div class="mtp__slider-slide">
									<picture>
										<source srcset="images/mtp-img.webp"
												type="image/webp">
										<img src="images/mtp-img.jpg"
											 alt="nmgjhgjhgjhgjhgjdfg" title="jggjhgjgjgjgjgdfgdfgdfg">
									</picture>
								</div>


								<div class="mtp__slider-slide">
									<picture>
										<source srcset="images/mtp-img.webp"
												type="image/webp">
										<img src="images/mtp-img.jpg" alt="Lorem ipsum dolor sit">
									</picture>

								</div>


								<div class="mtp__slider-slide">
									<picture>
										<source srcset="images/mtp-img.webp"
												type="image/webp">
										<img src="images/mtp-img.jpg"
											 alt="qweqweqwe" title="qweqwe">
									</picture>
								</div>


								<div class="mtp__slider-slide">
									<picture>
										<source srcset="images/mtp-img.webp"
												type="image/webp">
										<img src="images/mtp-img.jpg"
											 alt="qeqweq" title="awe">
									</picture>
								</div>


								<div class="mtp__slider-slide mtp__slider-slide--video">
									<picture>
										<source srcset="images/mtp-img.webp"
												type="image/webp">
										<img src="images/mtp-img.jpg"
											 alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit">
									</picture>
								</div>
							</div>
						</div>
					</div>

				</div>

				<p>Lorem Ipsum&nbsp;- это текст-&quot;рыба&quot;, часто используемый в печати и вэб-дизайне.
					Lorem Ipsum является стандартной &quot;рыбой&quot; для текстов на латинице с начала XVI
					века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов,
					используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без
					заметных изменений пять веков, но и перешагнул в электронный дизайн. Его популяризации в
					новое время послужили публикация листов Letraset с образцами Lorem Ipsum в 60-х годах и, в
					более недавнее время, программы электронной вёрстки типа Aldus PageMaker, в шаблонах которых
					используется Lorem Ipsum.</p>

				<p>Почему он используется?</p>

				<p>Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться.
					Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение
					шаблона, а также реальное распределение букв и пробелов в абзацах, которое не получается при
					простой дубликации &quot;Здесь ваш текст.. Здесь ваш текст.. Здесь ваш текст..&quot; Многие
					программы электронной вёрстки и редакторы HTML используют Lorem Ipsum в качестве текста по
					умолчанию, так что поиск по ключевым словам &quot;lorem ipsum&quot; сразу показывает, как
					много веб-страниц всё ещё дожидаются своего настоящего рождения. За прошедшие годы текст
					Lorem Ipsum получил много версий. Некоторые версии появились по ошибке, некоторые -
					намеренно (например, юмористические варианты).</p>
				<div class="mtp__row-img">
					<picture>
						<source srcset="images/mtp-img.webp" type="image/webp">
						<img src="images/mtp-img.jpg"
							 alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit,">
					</picture>
				</div>
				<div class="mtp__gallery js-mtp-gallery">
					<div class="mtp__gallery-header">
						<h2>gjhgjhgjgjhgj</h2>
					</div>
					<a href="images/mtp-img.jpg"
					   class="mtp__gallery-item js-mtp-gallery-item">
						<picture>
							<source srcset="images/mtp-img.webp" type="image/webp">
							<img src="images/mtp-img.jpg"
								 alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit,">
						</picture>
					</a>
					<a href="images/mtp-img.jpg"
					   class="mtp__gallery-item js-mtp-gallery-item">
						<picture>
							<source srcset="images/mtp-img.webp" type="image/webp">
							<img src="images/mtp-img.jpg"
								 alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit,">
						</picture>
					</a>
					<a href="images/mtp-img.jpg"
					   class="mtp__gallery-item js-mtp-gallery-item">
						<picture>
							<source srcset="images/mtp-img.webp" type="image/webp">
							<img src="images/mtp-img.jpg"
								 alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit,">
						</picture>
					</a>
					<a href="images/mtp-img.jpg"
					   class="mtp__gallery-item js-mtp-gallery-item">
						<picture>
							<source srcset="images/mtp-img.webp" type="image/webp">
							<img src="images/mtp-img.jpg"
								 alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit,">
						</picture>
					</a>
					<a href="images/mtp-img.jpg"
					   class="mtp__gallery-item js-mtp-gallery-item">
						<picture>
							<source srcset="images/mtp-img.webp" type="image/webp">
							<img src="images/mtp-img.jpg"
								 alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit,">
						</picture>
					</a>
					<a href="images/mtp-img.jpg"
					   class="mtp__gallery-item js-mtp-gallery-item">
						<picture>
							<source srcset="images/mtp-img.webp" type="image/webp">
							<img src="images/mtp-img.jpg"
								 alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit,">
						</picture>
					</a>
				</div>

				<p>Lorem Ipsum&nbsp;- это текст-&quot;рыба&quot;, часто используемый в печати и вэб-дизайне.
					Lorem Ipsum является стандартной &quot;рыбой&quot; для текстов на латинице с начала XVI
					века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов,
					используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без
					заметных изменений пять веков, но и перешагнул в электронный дизайн. Его популяризации в
					новое время послужили публикация листов Letraset с образцами Lorem Ipsum в 60-х годах и, в
					более недавнее время, программы электронной вёрстки типа Aldus PageMaker, в шаблонах которых
					используется Lorem Ipsum.</p>

				<p>Почему он используется?</p>

				<blockquote>Инфляция в России, согласно такому варианту развития событий, составит 4,5% по
					итогам года, а доллар будет стоить в среднем более 80 руб. до конца года (в том числе 80,8
					руб. в четвертом квартале).
				</blockquote>

				<p>Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться.
					Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение
					шаблона, а также реальное распределение букв и пробелов в абзацах, которое не получается при
					простой дубликации &quot;Здесь ваш текст.. Здесь ваш текст.. Здесь ваш текст..&quot; Многие
					программы электронной вёрстки и редакторы HTML используют Lorem Ipsum в качестве текста по
					умолчанию, так что поиск по ключевым словам &quot;lorem ipsum&quot; сразу показывает, как
					много веб-страниц всё ещё дожидаются своего настоящего рождения. За прошедшие годы текст
					Lorem Ipsum получил много версий. Некоторые версии появились по ошибке, некоторые -
					намеренно (например, юмористические варианты).</p>

				<div class="mtp__document">
					<div class="mtp__document-header">
						<h2>gjhgjhgjgjhgj</h2>
					</div>
					<a href="/media/mediafiles/2020/11/iva-pismo-o-broshennogo-korzine.zip" download
					   class="mtp__document-item">
						<!--                                <div class="mtp__document-logo mtp__document-logo&#45;&#45;zip"></div>-->
						<div class="mtp__document-content">
							<div class="name">Скачать</div>
							<div class="size">ZIP (17,1 КБ)</div>
						</div>
					</a>
					<a href="/media/mediafiles/2020/11/iva-pismo-o-broshennogo-korzine.zip" download
					   class="mtp__document-item">
						<!--                                <div class="mtp__document-logo mtp__document-logo&#45;&#45;zip"></div>-->
						<div class="mtp__document-content">
							<div class="name">Скачать</div>
							<div class="size">ZIP (17,1 КБ)</div>
						</div>
					</a>
					<a href="/media/mediafiles/2020/11/iva-pismo-o-broshennogo-korzine.zip" download
					   class="mtp__document-item">
						<!--                                <div class="mtp__document-logo mtp__document-logo&#45;&#45;zip"></div>-->
						<div class="mtp__document-content">
							<div class="name">Скачать</div>
							<div class="size">ZIP (17,1 КБ)</div>
						</div>
					</a>
					<a href="/media/mediafiles/2020/11/iva-pismo-o-broshennogo-korzine.zip" download
					   class="mtp__document-item">
						<!--                                <div class="mtp__document-logo mtp__document-logo&#45;&#45;zip"></div>-->
						<div class="mtp__document-content">
							<div class="name">Скачать</div>
							<div class="size">ZIP (17,1 КБ)</div>
						</div>
					</a>
				</div>

				<blockquote>
					<p>Lorem Ipsum&nbsp;- это текст-&quot;рыба&quot;, часто используемый в печати и вэб-дизайне.
						Lorem Ipsum является стандартной &quot;рыбой&quot; для текстов на латинице с начала XVI
						века. В то время некий безымянный печатник создал большую коллекцию размеров и форм
						шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно
						пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн. Его
						популяризации в новое время послужили публикация листов Letraset с образцами Lorem Ipsum
						в 60-х годах и, в более недавнее время, программы электронной вёрстки типа Aldus
						PageMaker, в шаблонах которых используется Lorem Ipsum.</p>
				</blockquote>

				<p style="text-align: right;"><strong>Почему он используется?</strong></p>

				<ul>
					<li>Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает
						сосредоточиться.
					</li>
					<li>Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное
						заполнение шаблона, а также реальное
					</li>
					<li>распределение букв и пробелов в абзацах, которое не получается при простой дубликации
						&quot;Здесь ваш текст.. Здесь ваш текст..
					</li>
				</ul>

				<ol>
					<li>Здесь ваш текст..&quot; Многие программы электронной вёрстки и редакторы HTML используют
						Lorem Ipsum в качестве текста по
					</li>
					<li>умолчанию, так что поиск по ключевым словам &quot;lorem ipsum&quot; сразу показывает,
						как много веб-страниц всё ещё дожидаются своего
					</li>
					<li>настоящего рождения. За прошедшие годы текст Lorem Ipsum получил много версий. Некоторые
						версии появились по ошибке,&nbsp;
					</li>
				</ol>

				<table>
					<caption>Шапка таблицы</caption>
					<thead>
					<tr>
						<th>Дополнительная шапка</th>
						<th colspan="2">Подзаголовок</th>
						<th colspan="2">Подзаголовок</th>
					</tr>
					</thead>
					<tbody>
					<tr>
						<th>Название</th>
						<td>Столбец</td>
						<td>Столбец</td>
						<td>Столбец</td>
						<td>Столбец</td>
					</tr>
					<tr>
						<th>Название</th>
						<td>1.2</td>
						<td>1.2</td>
						<td>1.2</td>
						<td>1.2</td>
					</tr>
					<tr>
						<th>Название</th>
						<td>1.2</td>
						<td>1.2</td>
						<td>1.2</td>
						<td>1.2</td>
					</tr>
					<tr>
						<th>Название</th>
						<td>1.2</td>
						<td>1.2</td>
						<td>1.2</td>
						<td>1.2</td>
					</tr>
					</tbody>
				</table>

				<div class="mtp__spoiler">
					<div class="mtp__spoiler-header">
						<h2>gjhgjhgjgjhgj</h2>
					</div>

					<div class="mtp__spoiler-item">
						<div class="mtp__spoiler-item-header">
							<button class="mtp__spoiler-button js-spoiler-button"
									data-target="#mtp__spoiler-13">
								lkjlkflhsdlfhl
							</button>
						</div>
						<div id="mtp__spoiler-13" class="mtp__spoiler-item-content js-spoiler-content">
							<div class="mtp__spoiler-text">
								sfkjdslkfjlsdjflksjflsdfдесь ваш текст..&quot; Многие программы электронной
								вёрстки и редакторы HTML используют Lorem Ipsum в качестве текста по
								умолчанию, так что поиск по ключевым словам &quot;lorem ipsum&quot; сразу пок
							</div>
						</div>
					</div>

					<div class="mtp__spoiler-item">
						<div class="mtp__spoiler-item-header">
							<button class="mtp__spoiler-button js-spoiler-button"
									data-target="#mtp__spoiler-14">
								sfdsdfsf
							</button>
						</div>
						<div id="mtp__spoiler-14" class="mtp__spoiler-item-content js-spoiler-content">
							<div class="mtp__spoiler-text">
								десь ваш текст..&quot; Многие программы электронной вёрстки и редакторы HTML
								используют Lorem Ipsum в качестве текста по
								умолчанию, так что поиск по ключевым словам &quot;lorem ipsum&quot; сразу пок
							</div>
						</div>
					</div>

					<div class="mtp__spoiler-item">
						<div class="mtp__spoiler-item-header">
							<button class="mtp__spoiler-button js-spoiler-button"
									data-target="#mtp__spoiler-15">
								sdfsdfsffwef[pweof[weof[wf
							</button>
						</div>
						<div id="mtp__spoiler-15" class="mtp__spoiler-item-content js-spoiler-content">
							<div class="mtp__spoiler-text">
								десь ваш текст..&quot; Многие программы электронной вёрстки и редакторы HTML
								используют Lorem Ipsum в качестве текста по
								умолчанию, так что поиск по ключевым словам &quot;lorem ipsum&quot; сразу пок
							</div>
						</div>
					</div>

					<div class="mtp__spoiler-item">
						<div class="mtp__spoiler-item-header">
							<button class="mtp__spoiler-button js-spoiler-button"
									data-target="#mtp__spoiler-16">
								десь ваш текст..&quot; Многие программы электронной вёрстки и редакторы HTML
								используют Lorem Ipsum в качестве текста по умолчанию, так что поиск по ключевым
								словам &quot;lorem ipsum&quot; сразу пок
							</button>
						</div>
						<div id="mtp__spoiler-16" class="mtp__spoiler-item-content js-spoiler-content">
							<div class="mtp__spoiler-text">
								десь ваш текст..&quot; Многие программы электронной вёрстки и редакторы HTML
								используют Lorem Ipsum в качестве текста по
								умолчанию, так что поиск по ключевым словам &quot;lorem ipsum&quot; сразу пок
							</div>
						</div>
					</div>
				</div>

				<div class="article-form">
					<h2>Заголовок формы</h2>
					<form>
						<div class="modal__form">
							<div class="article-form__col">
								<label class="modal__form--item">
									<input type="text" class="input" placeholder="Валерий" required>
									<span class="title">Имя</span>
								</label>
								<label class="modal__form--item">
									<input type="email" class="input" placeholder="regiteriw@mail.ru"
										   required>
									<span class="title">E-mail</span>
								</label>
								<label class="modal__form--item">
									<input type="tel" class="input js-phone-mask"
										   placeholder="+7 (434) 656-13-23" required>
									<span class="title">Телефон</span>
								</label>
							</div>
							<div class="article-form__col">
								<label class="modal__form--item">
                                                <textarea class="input" placeholder="Текст сообщения"
														  required></textarea>
									<span class="title">Сообщение</span>
								</label>
								<div class="modal__policy">
									При отправке сообщения вы соглашаетесь с нашими
									<a href="#0" target="_blank">Условиями пользования</a> , а также с
									<a href="#0" target="_blank">Политикой Конфиденциальности</a> и
									<a href="#0" target="_blank">Cookie</a>
								</div>
								<button type="submit" class="btn btn--blue">Отправить</button>
							</div>
						</div>
					</form>
				</div>

				<div class="mtp__inline-item">
					<div class="mtp__inline-img">
						<picture>
							<source srcset="images/mtp-img.webp"
									type="image/webp">
							<img src="images/mtp-img.jpg" alt="Новость 1"
								 title="Новость 1">
						</picture>
					</div>
					<div class="mtp__inline-content">
						<div class="mtp__document-header">
							<h2>gjhgjhgjgjhgj</h2>
						</div>
						<p>sadjaslkjdlkasjdlajldladlajdlasjdlasdfsdfsdfsdfsdf</p>
					</div>
				</div>
				<div class="mtp__inline-item mtp__inline-item--right">
					<div class="mtp__inline-img">
						<picture>
							<source srcset="images/mtp-img.webp"
									type="image/webp">

							<img src="images/mtp-img.jpg" alt="Новость 1"
								 title="Новость 1">
						</picture>
					</div>
					<div class="mtp__inline-content">
						<div class="mtp__document-header">
							<h2>gjhgjhgjgjhgj</h2>
						</div>
						<p>khrkhshrksjhfksdhfkjsdhkfssdfsdf</p>
					</div>
				</div>

				<div class="tags">
					<a href="" class="tags__item">Текст хэштега</a>
					<a href="" class="tags__item">Текст хэштега</a>
					<a href="" class="tags__item">Текст хэштега</a>
					<a href="" class="tags__item">Текст хэштега</a>
					<a href="" class="tags__item">Текст хэштега</a>
					<a href="" class="tags__item">Текст хэштега</a>
					<a href="" class="tags__item">Текст хэштега</a>

				</div>
			</div>
		</div>
</main>

{% endblock %}
<!--подключение скриптов-->
{% block scripts %}
<script src="scripts/article.js"></script>
{% endblock %}
